<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark" />
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/pico.css">
        <script src="/static/js/htmx.js"></script>
        <script src="/static/js/hyperscript.js"></script>
        <script src="https://kit.fontawesome.com/173199d005.js" crossorigin="anonymous"></script>
        <title>ptlog</title>
    </head>
    <body>
        <header class="container">
        <nav>
            <ul>
                <li><strong>Physical Training Log</strong></li>
            </ul>
        </nav>
        </header>
        <main class="container">
            <hgroup>
                <h3>Log your PT!</h3>
                <p>This simple webapp is an easy way for you to track your PT activity.</p>
            </hgroup>
            <h3>Workouts</h3>
            <table class="striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Minutes</th>
                        <th scope="col">Date</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="workouts">
                    {{range .}}
                    <tr>
                        <th scope="row">{{.Name}}</th>
                        <td>{{.Duration}}</td>
                        <td>{{.Month}}/{{.Day}}/{{.Year}}</td>
                        <td>
                            <i id="delete" class="fa-solid fa-trash" hx-delete="/workouts/{{.Id}}" hx-target="#workouts"></i>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            <button _="on click add .modal-is-opening to <html /> then
                          call #modal.showModal() then 
                          wait 400ms then
                          remove .modal-is-opening from <html /> then
                          add .modal-is-open to <html />">
                Add Workout
            </button>
            <dialog id="modal" _="on click[<article /> does not contain target] add .modal-is-closing to <html /> then
                                    log target then
                                    wait 400ms then
                                    call #modal.close() then
                                    remove .modal-is-open from <html /> then
                                    remove .modal-is-closing from <html />"
            >
                <article>
                    <h2>Add a workout</h2>
                    <form
                        id="workout-form"
                        hx-post="/workouts"
                        hx-target="#workouts"
                        _="on submit add .modal-is-closing to <html /> then
                              wait 400ms then
                              call #modal.close() then
                              remove .modal-is-open from <html />
                              remove .modal-is-closing from <html /> then
                              reset() me"
                    >
                        <input type="text" name="name" placeholder="Workout" />
                        <input type="number" name="duration" placeholder="Duration" />
                        <input type="date" name="date" />
                        <input type="submit" />
                    </form>
              </article>
            </dialog>
        </main>
    </body>
</html>
